{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.520"}
        com.bhauman/figwheel-main {:mvn/version "0.2.3"}
        isomorphic-ml {:mvn/version "0.0.1-SNAPSHOT"}
        org.omcljs/om {:mvn/version "1.0.0-beta4"}
        binaryage/oops {:mvn/version "0.7.0"}}
 :paths ["src" "resources" "target"]
 :aliases {:build {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}}}